@model IEnumerable<AuctionApp.ViewModels.AuctionVM>

@{
    ViewData["Title"] = "My Auctions";
}

<h1>My Auctions</h1>

<p>
    <a asp-action="CreateAuction">Create New Auction</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighestBid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InitialPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HighestBid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                </td>
                <td>
                    @Html.ActionLink("Details", "BidDetails", new { id = item.Id })
                    |
                    @Html.ActionLink("Edit", "EditDescription", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
